.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section {
    width: 300px;
    border-right: 2px solid #eeeeee;
    height: 100%;
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
    background-color: white;
}

.summoner-name {
    font-weight: 600;
    font-size: 24px;
    color: #434343;
}

.summoner-level {
    margin-top: 5px;
    font-weight: 800;
    font-size: 24px;
    color: #434343
}

.icon-border {
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    margin-top: 150px;
    margin-bottom: 35px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.summoner-icon img {
    max-width: 150px;
    border-radius: 300px;
    margin-top: 3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
