
.game {
}

.game-container {
    height: 50px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    border: 1px solid #eeeeee;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin-left: 25px;
    margin-right: 25px;
}

.game-score {
    font-weight: 700;
    color: #434343;
}

.result-indicator {
    font-weight: 800;
}



.game-champion img {
    height: 50px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}