body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  background-color: #fafafa;
}

#root {
  height: 100%;
  background-color: #fafafa;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
