.ranked {
    width: 300px;
    animation: slideInRanked 2s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}   

.ranked img {
    max-width: 150px;
}

.ranked-headline {
    font-weight: 800;
    color: #434343;
    font-size: 24px;
    margin-bottom: 35px;
}

.ranked-title {
    font-weight: 700;
    color: #434343;
    margin-top: 25px;
    font-size: 18px;
}

@keyframes slideInRanked{
    from {
        opacity: 0;
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}